<div class="slider">
    <div class="slider-flex position-relative">
        <div class="slider--col position-relative">
            <div class="vertical-slider-prev swiper-button"><i class="iconly-Arrow-Up-2 icli"></i></div>
            <div class="slider-thumbs" data-swiper="slider-thumbs">
                <div class="swiper-container " data-swiper="slider-thumbs-inner">
                    <div class="swiper-wrapper top-ten-slider-nav">
                        <div class="swiper-slide swiper-bg">
                            <div class="block-images position-relative ">
                                <div class="img-box slider--image">
                                    <img src="/frontassets/images/top-10/01.webp" class="img-fluid" alt="" loading="lazy">
                                </div>
                                <div class="block-description">
                                    <h6 class="iq-title"><a href="tv-show-detail.html">lostti n sacee</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                        <span class="text-body">2hr : 30mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-bg">
                            <div class="block-images position-relative ">
                                <div class="img-box slider--image">
                                    <img src="/frontassets/images/top-10/02.webp" class="img-fluid" alt="" loading="lazy">
                                </div>
                                <div class="block-description">
                                    <h6 class="iq-title"><a href="./tv-show-detail.html">Ret Seap</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                        <span class="text-body">3hr : 0min</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-bg">
                            <div class="block-images position-relative">
                                <div class="img-box slider--image">
                                    <img src="/frontassets/images/top-10/03.webp" class="img-fluid" alt="" loading="lazy">
                                </div>
                                <div class="block-description">
                                    <h6 class="iq-title"><a href="./tv-show-detail.html">X-Men</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                        <span class="text-body">1hr : 45mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-bg">
                            <div class="block-images position-relative">
                                <div class="img-box slider--image">
                                    <img src="/frontassets/images/top-10/04.webp" class="img-fluid" alt="" loading="lazy">
                                </div>
                                <div class="block-description">
                                    <h6 class="iq-title"><a href="./tv-show-detail.html">Logan</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                        <span class="text-body">1hr : 22mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-bg">
                            <div class="block-images position-relative">
                                <div class="img-box slider--image">
                                    <img src="/frontassets/images/top-10/05.webp" class="img-fluid" alt="" loading="lazy">
                                </div>
                                <div class="block-description">
                                    <h6 class="iq-title"><a href="./tv-show-detail.html">Black Queen</a></h6>
                                    <div class="movie-time d-flex align-items-center my-2">
                                        <span class="text-body">1hr : 45mins</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vertical-slider-next swiper-button"><i class="iconly-Arrow-Down-2 icli"></i></div>
        </div>
        <div class="slider-images" data-swiper="slider-images">
            <div class="swiper-container " data-swiper="slider-images-inner">
                <div class="swiper-wrapper ">
                    <div class="swiper-slide">
                        <div class="slider--image block-images">
                            <img src="/frontassets/images/top-10/01.webp"
                                 loading="lazy" alt="" />
                        </div>
                        <div class="description">
                            <div class="block-description">
                                <ul class="ps-0 mb-0 mb-1 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag">
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Comedy</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Romance</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Action</a>
                                    </li>
                                </ul>
                                <h2 class="iq-title mb-3"><a href="./tv-show-detail.html">lostti n sacee</a></h2>
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <div class="slider-ratting d-flex align-items-center">
                                        <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>
                                    </div>
                                    <span class="text-body">2hr : 30mins</span>
                                </div>
                                <p class="mt-0 mb-3 line-count-2">
                                    The point of using Lorem Ipsum is that it has a
                                    more-or-less normal distribution of letters, as opposed to using 'Content here.
                                </p>
                                <div class="iq-button">
                                    <a href="movie-detail.html" class="btn text-uppercase position-relative">
                                        <span class="button-text">play now</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider--image block-images">
                            <img src="/frontassets/images/top-10/02.webp"
                                 loading="lazy" alt="" />
                        </div>
                        <div class="description">
                            <div class="block-description">
                                <ul class="ps-0 mb-0 mb-1 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag">
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Comedy</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Romance</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Action</a>
                                    </li>
                                </ul>
                                <h2 class="iq-title mb-3"><a href="./tv-show-detail.html">Ret Seap</a></h2>
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <div class="slider-ratting d-flex align-items-center">
                                        <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>
                                    </div>
                                    <span class="text-body">3hr 0min</span>
                                </div>
                                <p class="mt-0 mb-3 line-count-2">
                                    The point of using Lorem Ipsum is that it has a
                                    more-or-less normal distribution of letters, as opposed to using 'Content here.
                                </p>
                                <div class="iq-button">
                                    <a href="movie-detail.html" class="btn text-uppercase position-relative">
                                        <span class="button-text">play now</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider--image block-images">
                            <img src="/frontassets/images/top-10/03.webp"
                                 loading="lazy" alt="" />
                        </div>
                        <div class="description">
                            <div class="block-description">
                                <ul class="ps-0 mb-0 mb-1 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag">
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Comedy</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Romance</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Action</a>
                                    </li>
                                </ul>
                                <h2 class="iq-title mb-3"><a href="./tv-show-detail.html">X Men</a></h2>
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <div class="slider-ratting d-flex align-items-center">
                                        <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>
                                    </div>
                                    <span class="text-body">1hr : 45mins</span>
                                </div>
                                <p class="mt-0 mb-3 line-count-2">
                                    The point of using Lorem Ipsum is that it has a
                                    more-or-less normal distribution of letters, as opposed to using 'Content here.
                                </p>
                                <div class="iq-button">
                                    <a href="movie-detail.html" class="btn text-uppercase position-relative">
                                        <span class="button-text">play now</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider--image block-images">
                            <img src="/frontassets/images/top-10/04.webp"
                                 loading="lazy" alt="" />
                        </div>
                        <div class="description">
                            <div class="block-description">
                                <ul class="ps-0 mb-0 mb-1 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag">
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Comedy</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Romance</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Action</a>
                                    </li>
                                </ul>
                                <h2 class="iq-title mb-3"><a href="./tv-show-detail.html">Logan</a></h2>
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <div class="slider-ratting d-flex align-items-center">
                                        <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>
                                    </div>
                                    <span class="text-body">1hr : 22mins</span>
                                </div>
                                <p class="mt-0 mb-3 line-count-2">
                                    The point of using Lorem Ipsum is that it has a
                                    more-or-less normal distribution of letters, as opposed to using 'Content here.
                                </p>
                                <div class="iq-button">
                                    <a href="#" class="btn text-uppercase position-relative">
                                        <span class="button-text">play now</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider--image block-images">
                            <img src="/frontassets/images/top-10/05.webp"
                                 loading="lazy" alt="" />
                        </div>
                        <div class="description">
                            <div class="block-description">
                                <ul class="ps-0 mb-0 mb-1 pb-1 list-inline d-flex flex-wrap align-items-center movie-tag">
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Comedy</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Romance</a>
                                    </li>
                                    <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                        <a href="view-all-movie.html" class="text-white text-decoration-none">Action</a>
                                    </li>
                                </ul>
                                <h2 class="iq-title mb-3"><a href="./tv-show-detail.html">Black Queen</a></h2>
                                <div class="d-flex align-items-center gap-3 mb-3">
                                    <div class="slider-ratting d-flex align-items-center">
                                        <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                                            <li>
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </li>
                                        </ul>
                                        <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>
                                    </div>
                                    <span class="text-body">1hr : 45mins</span>
                                </div>
                                <p class="mt-0 mb-3 line-count-2">
                                    The point of using Lorem Ipsum is that it has a
                                    more-or-less normal distribution of letters, as opposed to using 'Content here.
                                </p>
                                <div class="iq-button">
                                    <a href="video-detail.html" class="btn text-uppercase position-relative">
                                        <span class="button-text">play now</span>
                                        <i class="fa-solid fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>