@using DiziFilm.Model.ViewModel.Areas.AdminPanel
@section ContentHeader{
}

@model OyuncuIndexViewModel



<main class="main-content">

    <div class="content-inner container-fluid pb-0">
        <div class="row">
            <div class="col-sm-12">
                <div class="card pb-3">
                    <div class="card-header border-bottom d-flex justify-content-between align-items-center py-3">
                        <div class="d-flex align-items-center mt-3 gap-2">

                            <button type="button" class="btn btn-primary"   data-bs-toggle="modal" data-bs-target="#modalOyuncuEkle"  >
                                <i class="fa-solid fa-plus me-2"></i>Oyuncu Ekle
                            </button>
                        </div>

                    </div>
                    <div class="card-body">
                        <div class="table-view table-responsive pt-3 table-space">
                            <table id="tblOyuncu" class="data-tables table custom-table">
                                <thead>
                                    <tr class="text-uppercase">
                                        <th></th>
                                        <th>Adı</th>
                                        <th>Soyadı</th>
                                        <th>Cinsiyet</th>
                                        <th>Doğum Tarihi</th>
                                        <th>Doğum Yeri</th>
                                        <th>Biyografi</th>
                                        <th>Durum</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</main>





<!-- Modal -->
<div class="modal fade" id="modalOyuncuEkle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oyuncu-modal-label">Oyuncu Ekle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <form id="frmOyuncuEkle" class="section-form">
                    <div class="row">
                        
                        <div class="col-md-6">
                            <div class="form-group px-3 mb-3">
                                <label class="form-label" for="txtAd">
                                    <strong>Adı</strong> <span class="text-danger">*</span>:
                                </label>
                                <input type="text" asp-for=Adi class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group px-3 mb-3">
                            <label class="form-label" for="txtSoyad">
                                <strong>Soyadı</strong> <span class="text-danger">*</span>:
                            </label>
                            <input type="text"  asp-for=Soyadi  class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group px-3 mb-3">
                            <label class="form-label" for="txtCinsiyet">
                                <strong>Cinsiyet</strong> <span class="text-danger">*</span>:
                            </label>
                           <select asp-for=Cinsiyet class="form-select" required>
                               <option value="">Seçiniz..</option>
                               <option value="0">Erkek</option>
                               <option value="1">Kadın</option>

                           </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group px-3 mb-3">
                            <label class="form-label" >
                                <strong>Doğum Tarihi</strong>:
                            </label>
                            <input type="date" asp-for=DogumTarihi class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group px-3 mb-3">
                                <label class="form-label" for="txtDogumYeri">
                                    <strong>Doğum Yeri</strong>:
                                </label>
                                <input type="text" asp-for=DogumYeri class="form-control">
                            </div>
                        </div>

                       
                        </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group px-3 mb-3">
                                <label class="form-label" for="txtBiyografi">
                                    <strong>Biyografi</strong>:
                                </label>
                                <textarea asp-for=Biyografi class="form-control" name="Biyografi" rows="4"></textarea>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnOyuncuEkle" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>


<!-- Güncelleme Modalı-->

<div class="modal fade" id="modalOyuncuGuncelle" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="oyuncu-modal-label">Oyuncu Düzenle</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Kapat"></button>
            </div>
            <div class="modal-body">
                <form id="frmOyuncuGuncelle" class="section-form">
                    <div class="row">
                        <input type="hidden" class="form-control" id="GId">
                        <div class="col-md-6">
                            <div class="form-group px-3 mb-3">
                                <label class="form-label">
                                    <strong>Adı</strong> <span class="text-danger">*</span>:
                                </label>
                                <input type="text" id=GAdi class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group px-3 mb-3">
                            <label class="form-label" for="txtSoyad">
                                <strong>Soyadı</strong> <span class="text-danger">*</span>:
                            </label>
                            <input type="text" id=GSoyadi class="form-control"  required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group px-3 mb-3">
                            <label class="form-label" for="txtCinsiyet">
                                <strong>Cinsiyet</strong> <span class="text-danger">*</span>:
                            </label>
                            <select id=GCinsiyet class="form-select" required>
                                <option value="">Seçiniz..</option>
                                <option value="0">Erkek</option>
                                <option value="1">Kadın</option>

                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group px-3 mb-3">
                            <label class="form-label" >
                                <strong>Doğum Tarihi</strong>:
                            </label>
                            <input type="date" id=GDogumTarihi class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group px-3 mb-3">
                                <label class="form-label">
                                    <strong>Doğum Yeri</strong>:
                                </label>
                                <input type="text" id=GDogumYeri class="form-control" >
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group px-3 mb-3">
                                <label class="form-label" >
                                    <strong>Biyografi</strong>:
                                </label>
                                <textarea id=GBiyografi class="form-control" rows="4"></textarea>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                <button type="button" id="btnOyuncuGuncelle" class="btn btn-primary">Kaydet</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/adminassets/custom/Oyuncu.js"></script>

}
                          