<div class="container-fluid">
    <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">
            <h5 class="main-title text-capitalize mb-0">your favourite personality</h5>
            <a href="all-personality.html" class="text-primary iq-view-all text-decoration-none">View All</a>
        </div>
        <div class="position-relative swiper swiper-card" data-slide="11" data-laptop="11" data-tab="4" data-mobile="2"
             data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
            <ul class="p-0 swiper-wrapper m-0  list-inline personality-card">
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/01.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">john Abraham</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/02.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Leena burton</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/03.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Lorina williams </a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/04.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Davina decorous</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/05.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Thomas bailey</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">producer</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/06.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Kelly Reilly</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/07.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">smith Jonas</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">director</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/08.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">angel louis</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">producer</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/09.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Millar joseph</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/10.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">mark wilson</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/11.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Kelley walker</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">director</a>
                    </div>
                </li>
                <li class="swiper-slide">
                    <img src="/frontassets/images/cast/12.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">
                    <div class="text-center">
                        <h6 class="mb-0">
                            <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Amy Sedaris</a>
                        </h6>
                        <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>
                    </div>
                </li>
            </ul>
            <div class="swiper-button swiper-button-next"></div>
            <div class="swiper-button swiper-button-prev"></div>
        </div>
    </section>
</div>