<div class="container-fluid">
    <div class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">
            <h5 class="main-title text-capitalize mb-0">movie geners</h5>
            <a href="all-geners.html" class="text-primary iq-view-all text-decoration-none flex-none">View All</a>
        </div>
        <div class="card-style-slider">
            <div class="position-relative swiper swiper-card" data-slide="6" data-laptop="6" data-tab="3"
                 data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true"
                 data-pagination="true">
                <ul class="p-0 swiper-wrapper m-0  list-inline geners-card">
                    <li class="swiper-slide">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="/frontassets/images/genre/01.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">action</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="/frontassets/images/genre/02.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">adventure</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="/frontassets/images/genre/03.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">animation</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="/frontassets/images/genre/04.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">Crime</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="/frontassets/images/genre/05.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">horror</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="/frontassets/images/genre/06.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">mystery</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="swiper-slide">
                        <div class="iq-card-geners card-hover-style-two">
                            <div class="block-images position-relative w-100">
                                <div class="img-box rounded position-relative">
                                    <img src="/frontassets/images/genre/07.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">
                                    <div class="blog-description">
                                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">romance</a></h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="swiper-button swiper-button-next"></div>
                <div class="swiper-button swiper-button-prev"></div>
            </div>
        </div>
    </div>
</div>