<div class="slider">
    <div class="position-relative swiper swiper-card" data-slide="1" data-laptop="1" data-tab="1" data-mobile="1"
         data-mobile-sm="1" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true"
         data-effect="fade">
        <ul class="p-0 swiper-wrapper m-0 list-inline">
            <li class="swiper-slide tab-slider-banner p-0">
                <div class="tab-slider-banner-images">
                    <img src="/frontassets/images/tab-slider/01.webp" alt="tab-slider-background">
                </div>
                <div class="block-images position-relative w-100">
                    <div class="container-fluid">
                        <div class="row align-items-center min-vh-100 h-100 my-4">
                            <div class="col-md-5 col-lg-5 col-xxl-5">
                                <div class="tab-left-details">
                                    <div class="d-flex align-items-center gap-3 mb-4">
                                        <a href="javascriptvoid(0);">
                                            <img src="/frontassets/images/movies/trending-label.webp" class="img-fluid"
                                                 alt="">
                                        </a>
                                        <h5 class="text-gold"><span class="text-primary">#4</span> in Series Today</h5>
                                    </div>
                                    <h1 class="mb-2 fw-500 text-capitalize texture-text">The hunter</h1>
                                    <p class="mb-0 font-size-14 line-count-2">
                                        Sand and dust storms (SDS), also known as
                                        sirocco, haboob, yellow dust, white storms, and the harmattan, are a natural phenomenon
                                        linked with land
                                    </p>
                                    <ul class="d-flex align-items-center list-inline gap-2 movie-tag p-0 mt-3 mb-40">
                                        <li class="font-size-18">Nov 2022</li>
                                        <li class="font-size-18">Season 1</li>
                                    </ul>
                                    <div class="iq-button">
                                        <a href="movie-detail.html" class="btn text-uppercase position-relative">
                                            <span class="button-text">
                                                stream
                                                now
                                            </span>
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-lg-2 col-xxl-3">
                            </div>
                            <div class="col-md-6 col-lg-5 col-xxl-4 mt-5 mt-md-0">
                                <div class="tab-block">
                                    <h4 class="tab-title text-capitalize mb-0">All Episode</h4>
                                    <div class="tab-bottom-bordered border-0">
                                        <ul class="nav nav-tabs nav-pills mb-3 overflow-x-scroll" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series1-season-one" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 1
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series1-season-two" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 2
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series1-season-three" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 3
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content iq-tab-fade-up">
                                        <div class="tab-pane fade show active" id="pills-series1-season-one" role="tabpanel"
                                             tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/01.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Fire and Blood
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/02.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> - The
                                                            Pointy Endr
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/03.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> - You
                                                            Win or You Die
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/04.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> - The
                                                            Black Queen
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="pills-series1-season-two" role="tabpanel" tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/05.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Valar Morghulis
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/06.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> -
                                                            Blackwater
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/07.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> - The
                                                            Ghost of Harrenhal
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/08.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> -
                                                            Garden of Bones
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="pills-series1-season-three" role="tabpanel"
                                             tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/09.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Mhysa
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/10.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> -
                                                            Second Sons
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/11.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> - The
                                                            Climb
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/12.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> -
                                                            Kissed by Fire
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="swiper-slide tab-slider-banner p-0">
                <div class="tab-slider-banner-images">
                    <img src="/frontassets/images/tab-slider/02.webp" alt="tab-slider-background">
                </div>
                <div class="block-images position-relative w-100">
                    <div class="container-fluid">
                        <div class="row align-items-center min-vh-100 h-100 my-4">
                            <div class="col-md-5 col-lg-5 col-xxl-5">
                                <div class="tab-left-details">
                                    <div class="d-flex align-items-center gap-3 mb-4">
                                        <a href="javascriptvoid(0);">
                                            <img src="/frontassets/images/movies/trending-label.webp" class="img-fluid"
                                                 alt="">
                                        </a>
                                        <h5 class="text-gold"><span class="text-primary">#4</span> in Series Yesterday</h5>
                                    </div>
                                    <h1 class="mb-2 fw-500 text-capitalize texture-text">Pirates of Dayones</h1>
                                    <p class="mb-0 font-size-14 line-count-2">
                                        Sand and dust storms (SDS), also known as
                                        sirocco, haboob, yellow dust, white storms, and the harmattan, are a natural phenomenon
                                        linked with land
                                    </p>
                                    <ul class="d-flex align-items-center list-inline gap-2 movie-tag p-0 mt-3 mb-40">
                                        <li class="font-size-18">Nov 2022</li>
                                        <li class="font-size-18">Season 1</li>
                                    </ul>
                                    <div class="iq-button">
                                        <a href="movie-detail.html" class="btn text-uppercase position-relative">
                                            <span class="button-text">
                                                stream
                                                now
                                            </span>
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-lg-2 col-xxl-3">
                            </div>
                            <div class="col-md-6 col-lg-5 col-xxl-4 mt-5 mt-md-0">
                                <div class="tab-block">
                                    <h4 class="tab-title text-capitalize mb-0">All Episode</h4>
                                    <div class="tab-bottom-bordered border-0">
                                        <ul class="nav nav-tabs nav-pills mb-3 overflow-x-scroll" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series2-season-one" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 1
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series2-season-two" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 2
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series2-season-three" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 3
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content iq-tab-fade-up">
                                        <div class="tab-pane fade show active" id="pills-series2-season-one" role="tabpanel"
                                             tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/13.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> - The
                                                            Curse of the Black Pearl
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/14.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> -
                                                            Dead Man's Chest
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/15.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> - At
                                                            World's End
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/16.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> - On
                                                            Stranger Tides
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="pills-series2-season-two" role="tabpanel" tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/17.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Dead Men Tell No Tales
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/18.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> -
                                                            Tales of the Code
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/19.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> -
                                                            Romance Dawn
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/20.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> - The
                                                            Man in the Straw Hat
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="pills-series2-season-three" role="tabpanel"
                                             tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/21.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Tell No Tales
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/22.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> - The
                                                            Pirates Are Coming
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/23.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> - Eat
                                                            at Baratie!
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/24.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> - The
                                                            Chef and the Chore Boy
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="swiper-slide tab-slider-banner p-0">
                <div class="tab-slider-banner-images">
                    <img src="/frontassets/images/tab-slider/03.webp" alt="tab-slider-background">
                </div>
                <div class="block-images position-relative w-100">
                    <div class="container-fluid">
                        <div class="row align-items-center min-vh-100 h-100 my-4">
                            <div class="col-md-5 col-lg-5 col-xxl-5">
                                <div class="tab-left-details">
                                    <div class="d-flex align-items-center gap-3 mb-4">
                                        <a href="javascriptvoid(0);">
                                            <img src="/frontassets/images/movies/trending-label.webp" class="img-fluid"
                                                 alt="">
                                        </a>
                                        <h5 class="text-gold"><span class="text-primary">#4</span> in Series tomorrow</h5>
                                    </div>
                                    <h1 class="mb-2 fw-500 text-capitalize texture-text">peaky blinders</h1>
                                    <p class="mb-0 font-size-14 line-count-2">
                                        Sand and dust storms (SDS), also known as
                                        sirocco, haboob, yellow dust, white storms, and the harmattan, are a natural phenomenon
                                        linked with land
                                    </p>
                                    <ul class="d-flex align-items-center list-inline gap-2 movie-tag p-0 mt-3 mb-40">
                                        <li class="font-size-18">Nov 2022</li>
                                        <li class="font-size-18">Season 1</li>
                                    </ul>
                                    <div class="iq-button">
                                        <a href="movie-detail.html" class="btn text-uppercase position-relative">
                                            <span class="button-text">
                                                stream
                                                now
                                            </span>
                                            <i class="fa-solid fa-play"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 col-lg-2 col-xxl-3">
                            </div>
                            <div class="col-md-6 col-lg-5 col-xxl-4 mt-5 mt-md-0">
                                <div class="tab-block">
                                    <h4 class="tab-title text-capitalize mb-0">All Episode</h4>
                                    <div class="tab-bottom-bordered border-0">
                                        <ul class="nav nav-tabs nav-pills mb-3 overflow-x-scroll" role="tablist">
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link active" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series3-season-one" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 1
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series3-season-two" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 2
                                                </button>
                                            </li>
                                            <li class="nav-item" role="presentation">
                                                <button class="nav-link" data-bs-toggle="pill"
                                                        data-bs-target="#pills-series3-season-three" type="button" role="tab"
                                                        aria-selected="false">
                                                    Season 3
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="tab-content iq-tab-fade-up">
                                        <div class="tab-pane fade show active" id="pills-series3-season-one" role="tabpanel"
                                             tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/25.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Episode 1
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/26.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> -
                                                            Episode 2
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/27.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> -
                                                            Episode 3
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/28.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> -
                                                            Episode 4
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="pills-series3-season-two" role="tabpanel" tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/29.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Episode 1
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/30.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> -
                                                            Episode 2
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/31.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> -
                                                            Episode 3
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/32.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> -
                                                            Episode 4
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="tab-pane fade" id="pills-series3-season-three" role="tabpanel"
                                             tabindex="0">
                                            <ul class="list-inline m-0 p-0">
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/33.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E1</span> -
                                                            Episode 1
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/34.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E2</span> -
                                                            Episode 2
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/35.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E3</span> -
                                                            Episode 3
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                                <li class="d-flex align-items-center gap-3">
                                                    <div class="image-box flex-shrink-0">
                                                        <img src="/frontassets/images/tv-show/season/36.webp" alt="image-icon"
                                                             class="img-fluid rounded">
                                                    </div>
                                                    <div class="image-details">
                                                        <h6 class="mb-1 text-capitalize">
                                                            <span class="text-primary">E4</span> -
                                                            Episode 4
                                                        </h6>
                                                        <small>45 mins</small>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="joint-arrows">
            <div class="swiper-button swiper-button-next"></div>
            <div class="swiper-button swiper-button-prev"></div>
        </div>
    </div>
</div>